.vaquinha {
    background-color: #f9edc6;
    height: auto;
    padding: 20px;
}

.vaquinha .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vaquinha .titulo {
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    margin-bottom: 10px;
}

.vaquinha .frase-animada {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: justify;
    height: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.vaquinha button {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.vaquinha button:hover {
    background-color: rgb(255, 255, 255);
}

.donation-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
}

.donation-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #74b9ff;
    color: #000000;
    border-radius: 5px;
    flex: 1; /* Para que todos os botões fiquem com o mesmo tamanho */
    max-width: 120px; /* Limita o tamanho máximo dos botões */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.donation-btn:hover {
    background-color: #188bff !important;
    color: #fff !important;
}

.progress-bar-container {
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    height: 25px;
    width: 100%;
    max-width: 500px;
}

.progress-bar {
    height: 100%;
    background-color: #70ff03;
    width: 0;
    transition: width 0.5s;
}

#progressText {
    margin-top: 10px;
    font-size: 18px;
}

.vaquinha img {
    width: 500px;
    height: 500px;
    border-style: solid;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .vaquinha .container {
        flex-direction: column;
        align-items: center;
    }
    .vaquinha {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .vaquinha .titulo {
        text-align: center;
    }
    .vaquinha .frase-animada {
        text-align: center;
        min-height: 60px;
    }
}

@media (max-width: 768px) {
    .vaquinha .frase-animada {
        height: 290px;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .vaquinha img {
        width: 85%;
        height: auto;
        margin-bottom: 20px;
    }
    .vaquinha button {
        margin-top: 20px;
        width: 100%;
        font-size: 16px;
    }
    .vaquinha .donation-btn {
        font-size: 14px;
        width: 70px;
        padding: 8px;
    }
    .vaquinha .progress-bar-container {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .vaquinha #progressText {
        margin-top: 10px;
        font-size: 14px;
    }
}
