* {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .body {
        overflow-x: hidden;
    }
}

header {
    background-color: #74b9ff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s ease-in-out;
}

header .titulo {
    transition: font-size 0.3s ease-in-out;
}

header.reduzido {
    padding: 10px;
}

header.reduzido .titulo {
    font-size: 20px;
}

.titulo {
    font-weight: bolder;
}

/* Carousel */

.carousel {
    margin-top: 86px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 45%;
    height: 15%;
    border-radius: 8px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-item img {
    height: 620px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1224px) {
    .carousel-caption {
        width: 50%;
        height: 20%;
        top: 80%;
    }
}

@media (max-width: 768px) {
    .carousel {
        margin-top: -5px;
        height: 100%;
    }
    .carousel-caption {
        width: 45%;
        height: 20%;
        font-size: 12px;
    }
    .carousel-caption h3 {
        font-size: 16px;
    }
    .carousel-item img {
        height: 680px;
    }
}

/* Divisor de azul para amarelo */
.divisor-fade-azul-amarelo {
    height: 100px; /* Aumentando a altura para uma transição mais suave */
    background: linear-gradient(to bottom, #9dcefe 0%, #9dcefe 50%, #f9edc6 100%);
}

/* Divisor de amarelo para azul */
.divisor-fade-amarelo-azul {
    height: 100px; /* Aumentando a altura para uma transição mais suave */
    background: linear-gradient(to bottom, #f9edc6 0%, #f9edc6 50%, #9dcefe 100%);
}

/* Footer */

footer {
    background-color: #74b9ff;
    text-align: center;
    padding: 20px;
}

footer h3 {
    font-size: 14px;
    font-weight: bolder;
}