* {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #74b9ff;
    padding: 20px;
    text-align: center;
    font-size: 40px;

}

/* Seção carousel de imagens */

.carousel-item img {
    max-height: 615px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

/* Seção Semente Esperança */

.ong_semente { 
    background-color: #f9edc6;
    height: 750px;
}

.ong_semente .container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ong_semente .contadores div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ong_semente h3 {
    width: 100px;
    margin-left: 25px;
    margin-top: -5px;
}

.ong_semente p {
    text-align: justify;
    font-size: 19px;
    padding: 20px;
}

.ong_semente img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

/* Seção atividades da Ong */

.atividades { 
    background-color: #9dcefe;
    height: 750px;
}

.atividades .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    height: 720px;
}

.atividades .carousel-item.active {
    z-index: 2;
}

.atividades .card {
    width: 60%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.atividades .card-img-top {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.atividades .card-body {
    padding: 30px;
}

.atividades .carousel-control-prev-icon,
.atividades .carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-control-prev, .carousel-control-next {
    z-index: 3;
}

/* Seção sobre as doações */

.doacoes { 
    background-color: #f9edc6;
    height: 750px;
}

.doacoes .titulo {
    text-align: center;
    padding: 70px;
}

.doacoes .card {
    margin-bottom: 20px;
}

.doacoes .card-img-top {
    height: 340px;
}

.doacoes .card-body {
    padding: 15px;
    text-align: center;
}

.doacoes .card-text {
    margin-top: 10px;
}

.doacoes .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}


/* Seção sobre a doação Pix */

.vaquinha { 
    background-color: #f9edc6;
    height: 750px;
}

.vaquinha .container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaquinha p {
    text-align: justify;
    font-size: 22px;
    padding: 40px;
}

.vaquinha img {
    max-width: 100%;
    height: auto;
    padding: 40px;
}

/* Seção divulgação dos resultados */

.resultados { 
    background-color: #9dcefe;
    height: 750px;
}

.resultados .container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados p {
    text-align: justify;
    font-size: 22px;
    padding: 40px;
}

.resultados img {
    max-width: 100%;
    height: auto;
    padding: 40px;
}

/* Final da página */

footer {
    background-color: #74b9ff;
    text-align: center;
    padding: 20px;
}

footer h3 {
    font-size: 12px;
    font-weight: bolder;
}