.doacoes { 
    background-color: #f9edc6;
    height: auto;
    width: auto;
}

.doacoes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.doacoes .titulo {
    text-align: center;
    padding: 60px;
    margin-top: 40px;
}

.doacoes .row > div {
    margin-bottom: 120px;
}

.doacoes .card {
    height: 420px;
}

.doacoes .card-img-top {
    height: 320px;
}

.doacoes .card-body {
    padding: 5px;
    text-align: center;
}

.doacoes .card-text {
    margin-top: 10px;
}

.doacoes .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 1200px) {
    .doacoes {
        height: auto;
    }
    .doacoes .card {
        width: 450px;
        margin: 30px auto;
        margin-bottom: 30px;
        height: 400px;
    }
    .doacoes .card-img-top {
        height: 320px;
    }
    .doacoes .titulo {
        padding: 14px;
    }
    .doacoes .card-text {
        font-size: 14px;
    }
    .doacoes .row > div {
        flex: 0 0 100%;
        width: 80%;
        height: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .doacoes {
        height: auto;
    }
    .doacoes .card {
        width: 100%;
        margin: 20px auto;
        margin-bottom: 30px;
        height: auto;
    }
    .doacoes .card-img-top {
        height: 240px;
    }
    .doacoes .titulo {
        padding: 20px;
        margin-top: 60px;
    }
    .doacoes .card-text {
        font-size: 14px;
    }
    .doacoes .row > div {
        flex: 0 0 100%;
        width: 80%;
        height: 80%;
        margin-bottom: 20px;
    }
    .doacoes .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
}