.doacoes {
    background-color: #f9edc6;
    padding: 60px 0;
    text-align: center;
}

.doacoes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doacoes .titulo {
    margin-bottom: 40px;
    margin-top: 60px;
}

.frase-animada {
    font-size: 24px;
    text-align: justify; /* Garante que o texto fique justificado */
    margin-bottom: 20px;
    min-height: 60px;
    width: 620px;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.imagens-doacao {
    display: flex;
    gap: 20px; /* Espaçamento entre as imagens */
    flex-wrap: wrap; /* Permite que as imagens quebrem linha em telas menores */
    justify-content: center; /* Centraliza as imagens */
}

.imagem-arroz, .imagem-feijao {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    margin: 25px;
    width: 300px; /* Largura da imagem */
    height: 300px; /* Altura da imagem */
    border-radius: 5%; /* Borda levemente arredondada */
    object-fit: cover; /* Ajusta a imagem dentro do contêiner */
    filter: blur(2px); /* Desfoque inicial */
    transform: scale(0.9); /* Leve redução inicial */
}

.imagem-arroz.mostrar, .imagem-feijao.mostrar {
    opacity: 1;
    filter: blur(0); /* Remove o desfoque ao exibir */
    transform: scale(1); /* Retorna ao tamanho original */
}

.imagem-arroz:hover, .imagem-feijao:hover {
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    filter: brightness(1.05); /* Aumenta o brilho ao passar o mouse */
}

@keyframes pixelatedFadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .frase-animada {
        font-size: 20px;
        width: 300px;
        text-align: justify;
    }

    .imagens-doacao {
        flex-direction: column;
        max-width: 250px;
    }
}
