.doacoes {
    background-color: #f9edc6;
    padding: 60px 0;
    text-align: center;
}

.doacoes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doacoes .titulo {
    margin-bottom: 40px;
    margin-top: 60px;
}

.frase-animada {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 40px;
}

.imagens-doacao {
    display: flex;
    gap: 20px; /* Espaçamento entre as imagens */
}

.imagem-arroz, .imagem-feijao {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 25px;
    width: 350px; /* Largura da imagem */
    height: 350px; /* Altura da imagem */
    border-radius: 50%; /* Formato circular */
    object-fit: cover; /* Ajusta a imagem dentro do círculo */
    filter: blur(0.7px);
}

.imagem-arroz.mostrar, .imagem-feijao.mostrar {
    opacity: 1;
}

.imagem-arroz:hover, .imagem-feijao:hover {
    filter: blur(0px);
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

@keyframes pixelatedFadeIn {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .frase-animada {
        font-size: 22px;
    }

    .imagens-doacao {
        flex-direction: column;
    }

    .imagem-doacao {
        width: 100%;
        max-width: 300px;
    }

    .imagem-arroz, .imagem-feijao {
        width: 250px; /* Largura da imagem */
        height: 250px; /* Altura da imagem */
    }
}
