.resultados { 
    background-color: #9dcefe;
    height: auto;
    width: auto;
}

.resultados .container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados .contador {
    text-align: center;
    padding: 100px;
}

.resultados h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.resultados #countdown {
    font-size: 24px;
    color: #333;
}

#comment-section {
    margin-top: 20px;
}

#commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#username, #comment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#commentForm button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

#commentForm button:hover {
    background-color: #0056b3;
}
    

#comments {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.comment .username {
    font-weight: bold;
}

@media (max-width: 768px) {
    .resultados {
        height: auto;
    }
    .resultados .container {
        height: auto;
        width: 300px;
    }
    .resultados #countdown {
        width: 200px;
    }
    #commentForm {
        max-width: 350px;
    }
    #commentForm button {
        margin-bottom: 20px;
    }
}