.resultados { 
    background-color: #9dcefe;
    height: auto;
    width: auto;
}

.resultados .container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados .titulo {
    text-align: center;
    padding: 200px;
}

.resultados #countdown {
    font-size: 24px;
    color: #333;
}


@media (max-width: 768px) {
    .resultados {
        height: auto;
    }
    .resultados .container {
        height: auto;
    }
}